<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            font-size: 1.2em; /* Увеличиваем размер шрифта на 1.5 раза */
            }
        .body-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            background: url('path_to_your_image') no-repeat center center fixed;
            background-size: #ffc0cb;
        }
    </style>
</head>
<body>
    <div>
        <h1 class="body-form">
            Form is completed, thank You
        </h1>
    </div>
</body>
</html>